.distributorWrapper {
  position: relative;
}
.icon {
  position: absolute;
  left: 0;
  top: -38px;
  font-size: 30px;
  cursor: pointer;
}
.distributorInfo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid #5f6368;
  border-bottom: 1px solid #5f6368;
  padding: 40px 0;
  position: relative;
}

.details {
  display: flex;
  flex-direction: column;
}
.headingAndTagline {
  display: grid;
  grid-template-columns: 0.7fr auto 1fr;
}
.clone {
  width: 60px;
  text-align: center;
  display: block;
}
.tagline {
  text-align: right;
}
.historyTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 115%;
  color: #5f6368;
  padding: 15px 0;
}
.cashInCashOutContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cashInCashOut {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;
}
.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;

  color: #392e2d;
}
.amountBox {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 96%;
  text-align: right;
  letter-spacing: 0.44px;
  color: #ffffff;
  background: #1ea52b;
  border-radius: 14px;
  min-width: 132px;
  padding: 8px 12px;
}
.tableContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.3fr 0.8fr;
}
.tableContainer2 {
  max-height: 230px;
  overflow-y: scroll;
}
.details {
  display: flex;
  justify-content: flex-end;
  overflow-y: scroll;
}
.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;

  color: #5f6368;
  border-bottom: 1px solid #5f6368;
  padding: 8px 0;
}

.value {
  border: none;
}
